<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/newproducts">
        <ion-icon color="primary" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"/>
        </ion-thumbnail>
        <ion-card-title>Nombre: Coca-Cola</ion-card-title>
        <ion-card-subtitle>Marca: Coca-Cola</ion-card-subtitle>
        <ion-card-subtitle>Precio: $18.00</ion-card-subtitle>
        <ion-card-subtitle>Categoria: Refresco</ion-card-subtitle>
        <ion-card-subtitle>Description: Here's a small text description for the card content. Nothing more, nothing less.</ion-card-subtitle>
        <ion-card-subtitle>Stock: 43</ion-card-subtitle>
      <ion-button fill="clear" color="success"><ion-icon name="heart-outline"></ion-icon></ion-button>
      <ion-button fill="clear" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
    </ion-card-header>
  </ion-card>-
  <ion-card *ngFor="let products of products$|async">
    <ion-card-header>
        <ion-thumbnail>
          <img alt="image" src="{{products.urlimg}}"/>
        </ion-thumbnail>
        <ion-card-title>Nombre: {{products.name}}</ion-card-title>
        <ion-card-subtitle>Marca: {{products.marca}}</ion-card-subtitle>
        <ion-card-subtitle>Precio: {{products.precio}}</ion-card-subtitle>
        <ion-card-subtitle>Categoria: {{products.categoria}}}</ion-card-subtitle>
        <ion-card-subtitle>Description: {{products.descripcion}}</ion-card-subtitle>
        <ion-card-subtitle>Stock: {{products.stock}}</ion-card-subtitle>
      <ion-button fill="clear" color="success"><ion-icon name="heart-outline"></ion-icon></ion-button>
      <ion-button fill="clear" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>-->

<ion-content>
  <ion-grid>
    <ion-card *ngFor="let products of products$|async" color="dark">
        <ion-row>
          <ion-col size="3">
              <img alt="Imagen" src="{{products.urlimg}}"/>
          </ion-col>
          <ion-col size="9">
            <ion-card-content>
              <ion-card-title>Nombre: {{products.name}}</ion-card-title>
            <ion-card-subtitle>Marca: {{products.marca}}</ion-card-subtitle>
            <ion-card-subtitle>Precio: {{products.precio}}</ion-card-subtitle>
            <ion-card-subtitle>Categoria: {{products.categoria}}</ion-card-subtitle>
            <ion-card-subtitle>Description: {{products.descripcion}}</ion-card-subtitle>
            <ion-card-subtitle>Stock: {{products.stock}}</ion-card-subtitle>
            </ion-card-content>
            <ion-button fill="clear" color="success"><ion-icon name="heart-outline"></ion-icon></ion-button>
            <ion-button fill="clear" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
            <ion-button fill="clear" color="primary"><ion-icon name="pencil-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
    </ion-card>
  </ion-grid>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
